.test-block{
  border-bottom: 10px double black;
}
.test-short{
  display: flex;
  margin-bottom: 1rem;
  margin-top: 1rem;
}
.start-button{
  margin-left: 0.5rem;
}
span{
  align-self: center;
  font-size: medium;
}
